@charset "utf-8";
/* CSS Document */

.header
{
	height: 300px;
	background-color: chocolate;
	
}

.logo
{
	background-color: aliceblue;
	height: 200px;
	background-image: url("../images/logo.png");
}

.menu
{
	padding: 5%;
	box-sizing: border-box;
}

.menu .ul .li
{
	display: inline;
	color: white;
	font-weight: bold;
	list-style-type: none;
	float: right;
	
}






